<div class="wrap">
{% for item in items %}
<div class="item">
    <div class="icon">
        <img height="210px" width="210px" class="round" style="border-color:{{item.color}}" src="{{item.url}}">
    </div>
    <div class="info"><br>
        <h1><font color="{{item.color}}">{{item.name}}</font></h1>
        <h2> Level: {{item.level}}</h2>
        {% if item.fabricate %}
            <h2> Fabricates: {{item.fabricate}}</h2>
        {% endif %}
        {% if item.target_name %}
            <h2> Applied to: {{item.target_name}}</h2>
        {% endif %}
        {% if item.uses %}
            <h2> Uses: {{item.uses}}</h2>
        {% endif %}
        {% if item.painted %}
            <h2> Painted: {{item.painted}}</h2>
        {% endif %}
        {% if item.custom_name %}
            <h2> Custom name: </h2>
            <br>
            <h2>{{item.custom_name}}</h2>
        {% endif %}
        {% if item.price %}
            <h2> Price: {{item.price}} {{item.currency}}</h2>
        {% endif %}
        {% if item.effect %}
            <h2> Effect: {{item.effect}}</h2>
        {% endif %}
        <h3>Tradeable: {{item.tradable}}</h3>
        <h3>Craftable: {{item.craftable}}</h3>
        {% if item.strange %}
            <h3> Strange score: {{item.strange}}</h3>
        {% endif %}
        {% if item.custom_desc %}
            <h3>Custom description: {{item.custom_desc}}</h3>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>